img{
    max-width: 100%;
    height: auto;
}

body{    
    font-family: serif, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue';
    background: linear-gradient(#0f66a4,rgb(130, 27, 194) ,rgb(158, 16, 61));
}

header{
    display: grid;
    font-size: 9vw
}

.dalkar2{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
}

@media screen and (min-width:940px){

    .dalkar2{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

}


.blue{
    color: rgb(3, 16, 51);
}


.dalkar3{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 1fr;
}

@media screen and (min-width:540px){

    .dalkar3{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (min-width:940px){

    .dalkar3{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr 1fr;
    }

}



.glow {
    font-size: 80px;
    color: rgb(90, 12, 12);
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px rgb(158, 75, 242), 0 0 20px rgb(212, 100, 100), 0 0 30px #f03d96, 0 0 40px #370641, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    to {
      text-shadow: 0 0 20px rgb(117, 232, 101), 0 0 30px #055d4e, 0 0 40px #ff4da6, 0 0 50px #566b03, 0 0 60px #2e3604, 0 0 70px #1d03549e, 0 0 80px #ff4da6;
    }
}


.fire {
  text-align: center;
  color: rgb(255, 115, 0);
  font-size: 10vw;
  outline: none;
  text-shadow:
    0 0 20px crimson,
    0 0 20px crimson,
    0 0 10px crimson,
    5px -10px 10px orange,
    -5px -10px 10px yellow;
  animation: 2s amazing infinite alternate linear;
}

@keyframes fire {
  0%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 10px orange,
    0 0 10px darkorange,
    -5px -5px 5px yellow,
    10px -10px 10px yellow; 
  }
  25%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 20px orange,
    -5px -5px 5px yellow,
    5px -10px 10px yellow,
    -5px -10px 10px yellow; 
  }
  50%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 10px orange,
    0 0 10px darkorange,
    -5px -5px 5px yellow,
    10px -10px 10px yellow; 
  }
  75%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 20px orange,
    -5px -5px 5px yellow,
    5px -10px 10px yellow,
    -5px -10px 10px yellow; 
  }
  100%   { 
    text-shadow: 0 10px 20px crimson, 0 0 20px red,
    0 0 10px orange,
    0 0 10px darkorange,
    -5px -5px 5px yellow,
    10px -10px 10px yellow; 
  }
}