body{
    background: rgb(255, 202, 26);
    color:rgba(12, 115, 189, 0.425);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: rgb(175, 34, 211);
    font-style: oblique;
    font-size: 35px;
}

.TxT{
    color:aqua
}

.feitletra{
    font-weight: lighter;
}