body{
    background: rgb(249, 247, 242);
    color:rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    color: rgb(204, 0, 255);
    font-style: oblique;
    font-size: 35px;
}

.TxT{
    color:aqua
}

.feitletra{
    font-weight: lighter;
}