
.dalkar{
    display: grid;
    grid-template-columns: 1fr ;
}


@media screen and (min-width:500px){

    .dalkar{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }


}

.dalkar3{
    display: grid;
    grid-template-columns: 1fr ;
}





.a{
    grid-column: a;
}

.b{
    grid-column: a;
}

.c{
    grid-column: a;
}


@media screen and (min-width:899px){

    .dalkar3{
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr 1fr;

        grid-template-areas:
        "a a"
        "b c";
    }


}

@media screen and (min-width:930px){

    .dalkar3{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }


}



header{
    background: #703a03;
    margin: 0;
    padding: 30px;
    font-size: 100px;
    color: rgb(44, 29, 8);
    font-style: oblique;
}

section{
    background: #b96f21;
    padding: 32px;
    margin: 0 auto;
}


hr{
    background: #000000;
}


body{
    max-width: 70%;
    margin: 1em auto;
    border: 1px solid #000000;
    padding: 0spx;
    
    background: rgb(249, 247, 242);
    color:rgb(0, 0, 0);
    font-family: serif, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue';


}



.blue{
    color: blue;
}

.TxT{
    color:aqua
}

.feitletra{
    color: rgb(224, 13, 13);
    font-weight: lighter;
}
