div{
    border: 1px solid yellow
}

.dalkar{
    display: grid;
    grid-template-columns: 1fr ;
}


@media screen and (min-width:500px){

    .dalkar{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    div{
        border: 1px solid blue
    }


}


@media screen and (min-width:700px){

    .dalkar{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    div{
        border: 1px solid red
    }


}